

 .VHSlogo {
	position: absolute;
   	top: 3%;
    left: 3%;
    z-index: 400;
    background-image: url('../Icons/35.png');
    background-size: contain;
    width: 20%;
    height: 12%;
    opacity: .5;
    background-repeat: no-repeat;


}